<ul class='country-list'>
  {{#each this}}
    <li class='country-list__item'>
      {{!-- <a class="country-list__link" href="https://restcountries.eu/rest/v2/name/{{name}}"> --}}
      {{name}}
      {{! </a> }}
    </li>
  {{/each}}
</ul>